html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:"Helvetica";
}

.wrapper {
 min-height:100%;
 max-width: 800px;
 position:relative;
 margin-left: 10px;
 margin-right: 10px;
}

.content {
	padding-bottom: 120px;
}

.block {
	margin: 10px 0px 10px 0px;
}

.clear{
	clear:both;
	margin-top:-1px;
	height:1px;
	overflow:hidden;
}

p {
	overflow: hidden;
}
/* Table stuff */

table, th, td {
  margin-left:5px;
  max-width: 790px;
  border-collapse: collapse;
}
th, td {
  padding:5px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: #f9f9f9;
}
th {
  background-color: #00356b;
  color: #f9f9f9;
}
table.teaching td:nth-child(1) {
  width:6.5em;
  text-align: right;
}

/* Navigation Bar */

.nav {
  padding-top: 10px;
  }
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#00356b;
}
.nav li {
  float: left;
}
.nav li a {
  display: block;
  color: #f9f9f9;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.nav li a:hover {
  background-color:#286dc0
}

/* Footer */

.footer {
  background-color: white;
  width: 100%;
  height:100px;
  bottom:0;
  position: absolute;
  left: 0;
  clear:both;
}

hr.foot_rule {
	border: 1px solid #00356b; 
}

/* Links */

a:link {
	color:#286dc0 ;
}

a:visited {
	color:#5f712d ;
}

a:hover {
	color:#63aaff ;
}

a:active {
	color:#286dc0 ;
}
